.form-container{
    background: #fff;
    padding:3px;
    border-radius:10px;
    box-shadow:0px 0px 10px 0px #000;
    max-width: 430px;
    margin: auto;
}

#formBasicGuarantee{
    max-width: 9cm;

}

.input-group-addon{
    background: azure;
    line-height: 0.85cm;
}